In [1]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()
spark

your 131072x1 screen size is bogus. expect trouble
25/04/02 20:37:50 WARN Utils: Your hostname, Trydex resolves to a loopback address: 127.0.1.1; using 10.255.255.254 instead (on interface lo)
25/04/02 20:37:50 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/04/02 20:37:50 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [2]:
df_green = spark.read.parquet('../datasets/pq/green/*/*')
df_green.show(5)

+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|VendorID|lpep_pickup_datetime|lpep_dropoff_datetime|store_and_fwd_flag|RatecodeID|PULocationID|DOLocationID|passenger_count|trip_distance|fare_amount|extra|mta_tax|tip_amount|tolls_amount|ehail_fee|improvement_surcharge|total_amount|payment_type|trip_type|congestion_surcharge|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
|       2| 2020-01-11 04:05:54|  2020-01-11 04:13:49|                 N|       1.0|         129|         129|            1.0|         0.81|        6.5|  0.5|    0.5|      0.71|         0.0|     null|                  0.3|        8.51|         1.0|      1.0|                 0.0|
|       2| 2020-01-07 19:34:40|  2020-01-07 19:43:01|                 N|       1.0|          82|          56|            1.0|         1.25|        7.0|  1.0|    0.5|       0.0|         0.0|     null|                  0.3|         8.8|         2.0|      1.0|                 0.0|
|       2| 2020-01-15 19:07:07|  2020-01-15 19:12:56|                 N|       1.0|          75|          75|            1.0|         0.88|        5.5|  1.0|    0.5|      1.46|         0.0|     null|                  0.3|        8.76|         1.0|      1.0|                 0.0|
|       2| 2020-01-27 17:26:04|  2020-01-27 17:31:29|                 N|       1.0|         210|         108|            1.0|         1.52|        7.0|  1.0|    0.5|      2.64|         0.0|     null|                  0.3|       11.44|         1.0|      1.0|                 0.0|
|       2| 2020-01-19 12:18:31|  2020-01-19 12:23:29|                 N|       1.0|         129|         129|            1.0|         0.58|        5.0|  0.0|    0.5|       0.0|         0.0|     null|                  0.3|         5.8|         2.0|      1.0|                 0.0|
+--------+--------------------+---------------------+------------------+----------+------------+------------+---------------+-------------+-----------+-----+-------+----------+------------+---------+---------------------+------------+------------+---------+--------------------+
only showing top 5 rows

In [3]:
df_green.createOrReplaceTempView('green')

In [4]:
# Perfrom groupby aggregation to obtain analytical insights
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,
    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
-- ORDER BY
--     1, 2
""")

df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-17 21:00:00|  42| 446.7500000000002|            35|
|2020-01-16 07:00:00|  82| 78.36999999999999|             7|
|2020-01-26 12:00:00| 181|120.53000000000002|             7|
|2020-01-08 04:00:00| 116|             48.45|             4|
|2020-01-18 15:00:00|   7|307.06000000000006|            26|
|2020-01-16 18:00:00| 193|             60.22|             7|
|2020-01-10 14:00:00|  74| 782.1399999999995|            65|
|2020-01-14 15:00:00| 179|             98.72|             4|
|2020-01-13 07:00:00|   7|139.98000000000002|             6|
|2020-01-12 08:00:00|  74|            522.91|            26|
|2020-01-17 14:00:00| 129|321.17000000000013|            22|
|2020-01-28 19:00:00|  66| 533.9200000000001|            24|
|2020-01-05 13:00:00| 173| 94.00999999999999|             4|
|2020-01-02 17:00:00|  52|            113.46|            11|
|2020-01-19 14:00:00|  52|53.839999999999996|             6|
|2020-01-16 07:00:00| 130|209.15000000000003|             9|
|2020-01-15 21:00:00|  65|251.47000000000006|            18|
|2020-01-07 12:00:00|  17|106.67999999999999|             5|
|2020-01-03 08:00:00|   7|416.79000000000013|            30|
|2020-01-23 13:00:00| 115|             65.54|             1|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [5]:
df_green_revenue.rdd.getNumPartitions()

18

In [6]:
# Store analytical insights as file
df_green_revenue \
    .repartition(20) \
    .write \
    .parquet("../datasets/report/revenue/green", mode='overwrite')

25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 38.00% for 20 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/04/02 20:38:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [7]:
df_yellow = spark.read.parquet('../datasets/pq/yellow/*/*')
df_yellow.createOrReplaceTempView('yellow')

In [8]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,
    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

df_yellow_revenue.show()

25/04/02 20:38:08 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/02 20:38:09 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/02 20:38:09 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-26 16:00:00| 142| 5927.010000000004|           383|
|2020-01-06 10:00:00| 236| 8045.710000000017|           568|
|2020-01-06 16:00:00| 138|17057.700000000008|           379|
|2020-01-16 12:00:00|  48| 3903.909999999998|           240|
|2020-01-21 15:00:00| 209|            703.93|            23|
|2020-01-23 10:00:00| 263|3526.0399999999972|           243|
|2020-01-07 07:00:00| 249|2012.3399999999988|           137|
|2020-01-28 13:00:00| 238|3496.9699999999984|           239|
|2020-01-17 08:00:00|  50| 2093.599999999999|           118|
|2020-01-13 09:00:00| 249|3403.5899999999997|           224|
|2020-01-26 19:00:00| 132| 26727.00999999997|           531|
|2020-01-20 14:00:00| 262| 2293.789999999999|           144|
|2020-01-04 09:00:00| 239| 3085.389999999997|           232|
|2020-01-24 07:00:00| 237| 7690.430000000017|           531|
|2020-01-29 11:00:00| 264|           1238.46|            65|
|2020-01-21 11:00:00| 179|            100.49|             7|
|2020-01-26 23:00:00|  79| 2809.949999999998|           162|
|2020-01-02 07:00:00|  50|1247.3999999999996|            76|
|2020-01-16 02:00:00| 163| 530.2700000000001|            22|
|2020-01-19 02:00:00| 114| 5878.220000000007|           361|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [9]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('../datasets/report/revenue/yellow', mode='overwrite')

25/04/02 20:38:12 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/02 20:38:13 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
25/04/02 20:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/04/02 20:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/04/02 20:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/04/02 20:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/04/02 20:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/04/02 20:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
25/04/02 20:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
25/04/02 20:38:15 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 38.00% for 20 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/04/02 20:38:16 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [10]:
# Loading reports data

df_green_revenue = spark.read.parquet('../datasets/report/revenue/green')
df_yellow_revenue = spark.read.parquet('../datasets/report/revenue/yellow')

In [12]:
# Renaming columns before join

df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [13]:
# Performing join between yellow and green on hour and zone

df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  10|              null|                null|             42.41|                    2|
|2020-01-01 00:00:00|  43|            107.52|                   6| 6539.510000000011|                  390|
|2020-01-01 00:00:00|  52|             83.33|                   4|              49.8|                    2|
|2020-01-01 00:00:00|  70|54.900000000000006|                   3|               9.3|                    1|
|2020-01-01 00:00:00|  88|              null|                null| 823.8000000000001|                   36|
|2020-01-01 00:00:00| 140|              null|                null| 2268.909999999998|                  138|
|2020-01-01 00:00:00| 179|             87.32|                   5|213.29000000000002|                   10|
|2020-01-01 00:00:00| 238|              null|                null| 5232.560000000003|                  332|
|2020-01-01 00:00:00| 256|            296.62|                  13|            451.51|                   22|
|2020-01-01 01:00:00|   7| 690.2099999999997|                  42|           1004.71|                   62|
|2020-01-01 01:00:00|  13|              null|                null|1569.2399999999996|                   66|
|2020-01-01 01:00:00|  14|             68.83|                   3|             42.81|                    3|
|2020-01-01 01:00:00|  16| 72.96000000000001|                   2|              43.0|                    1|
|2020-01-01 01:00:00|  29|             32.04|                   2|              27.0|                    1|
|2020-01-01 01:00:00|  40|177.16000000000003|                   6|313.53999999999996|                   15|
|2020-01-01 01:00:00|  48|              null|                null| 12848.59000000004|                  607|
|2020-01-01 01:00:00| 106|116.03000000000002|                   5|            205.61|                    7|
|2020-01-01 01:00:00| 112|379.46999999999997|                  20|           1080.18|                   50|
|2020-01-01 01:00:00| 134|             34.86|                   4|              9.75|                    1|
|2020-01-01 01:00:00| 161|              null|                null| 9189.140000000023|                  483|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [14]:
# Number of Partitions assigned to df_join
df_join.rdd.getNumPartitions()

21

In [15]:
# Saving the table as a parquet file
df_join \
    .write \
    .parquet("../datasets/report/revenue/total", mode='overwrite')

25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 38.00% for 20 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/04/02 20:51:58 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [16]:
# Read the saved parquet file in folder 'total'
df_join = spark.read.parquet('../datasets/report/revenue/total/')
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 00:00:00|  22|              15.8|                   1|              null|                 null|
|2020-01-01 00:00:00|  38| 98.78999999999999|                   2|              null|                 null|
|2020-01-01 00:00:00|  72|             67.53|                   2|              null|                 null|
|2020-01-01 00:00:00| 114|              null|                null| 6256.430000000006|                  333|
|2020-01-01 00:00:00| 116|328.76000000000005|                  18| 561.5100000000001|                   34|
|2020-01-01 00:00:00| 132|              null|                null| 6786.390000000004|                  139|
|2020-01-01 00:00:00| 136|            111.68|                   2|             168.0|                    4|
|2020-01-01 00:00:00| 142|              null|                null|  9252.30000000002|                  488|
|2020-01-01 00:00:00| 143|             55.95|                   2| 2142.059999999999|                  128|
|2020-01-01 00:00:00| 151|              null|                null|2536.9599999999978|                  148|
|2020-01-01 00:00:00| 192|              12.3|                   1|              null|                 null|
|2020-01-01 00:00:00| 215| 546.3600000000001|                  18|             36.11|                    1|
|2020-01-01 00:00:00| 249|              null|                null| 7790.170000000013|                  422|
|2020-01-01 00:00:00| 258|              45.3|                   1|              null|                 null|
|2020-01-01 00:00:00| 265|              null|                null|           1041.52|                   15|
|2020-01-01 01:00:00|  65|            246.86|                  16| 647.4300000000001|                   31|
|2020-01-01 01:00:00|  80|215.94999999999996|                  10|            994.61|                   46|
|2020-01-01 01:00:00| 183|              27.0|                   1|             24.21|                    1|
|2020-01-01 01:00:00| 188|            181.03|                   7|            115.81|                    5|
|2020-01-01 01:00:00| 213|             44.91|                   2|              null|                 null|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [19]:
df_zones = spark.read.parquet('../artifacts/zones/')
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [ ]:
# Join zones and df_join
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)
df_result.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|LocationID|  Borough|                Zone|service_zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
|2020-01-01 00:00:00|  22|              15.8|                   1|              null|                 null|        22| Brooklyn|    Bensonhurst West|   Boro Zone|
|2020-01-01 00:00:00|  38| 98.78999999999999|                   2|              null|                 null|        38|   Queens|     Cambria Heights|   Boro Zone|
|2020-01-01 00:00:00|  72|             67.53|                   2|              null|                 null|        72| Brooklyn|East Flatbush/Rem...|   Boro Zone|
|2020-01-01 00:00:00| 114|              null|                null| 6256.430000000006|                  333|       114|Manhattan|Greenwich Village...| Yellow Zone|
|2020-01-01 00:00:00| 116|328.76000000000005|                  18| 561.5100000000001|                   34|       116|Manhattan|    Hamilton Heights|   Boro Zone|
|2020-01-01 00:00:00| 132|              null|                null| 6786.390000000004|                  139|       132|   Queens|         JFK Airport|    Airports|
|2020-01-01 00:00:00| 136|            111.68|                   2|             168.0|                    4|       136|    Bronx| Kingsbridge Heights|   Boro Zone|
|2020-01-01 00:00:00| 142|              null|                null|  9252.30000000002|                  488|       142|Manhattan| Lincoln Square East| Yellow Zone|
|2020-01-01 00:00:00| 143|             55.95|                   2| 2142.059999999999|                  128|       143|Manhattan| Lincoln Square West| Yellow Zone|
|2020-01-01 00:00:00| 151|              null|                null|2536.9599999999978|                  148|       151|Manhattan|    Manhattan Valley| Yellow Zone|
|2020-01-01 00:00:00| 192|              12.3|                   1|              null|                 null|       192|   Queens|     Queensboro Hill|   Boro Zone|
|2020-01-01 00:00:00| 215| 546.3600000000001|                  18|             36.11|                    1|       215|   Queens|       South Jamaica|   Boro Zone|
|2020-01-01 00:00:00| 249|              null|                null| 7790.170000000013|                  422|       249|Manhattan|        West Village| Yellow Zone|
|2020-01-01 00:00:00| 258|              45.3|                   1|              null|                 null|       258|   Queens|           Woodhaven|   Boro Zone|
|2020-01-01 00:00:00| 265|              null|                null|           1041.52|                   15|       265|      N/A|      Outside of NYC|         N/A|
|2020-01-01 01:00:00|  65|            246.86|                  16| 647.4300000000001|                   31|        65| Brooklyn|Downtown Brooklyn...|   Boro Zone|
|2020-01-01 01:00:00|  80|215.94999999999996|                  10|            994.61|                   46|        80| Brooklyn|   East Williamsburg|   Boro Zone|
|2020-01-01 01:00:00| 183|              27.0|                   1|             24.21|                    1|       183|    Bronx|          Pelham Bay|   Boro Zone|
|2020-01-01 01:00:00| 188|            181.03|                   7|            115.81|                    5|       188| Brooklyn|Prospect-Lefferts...|   Boro Zone|
|2020-01-01 01:00:00| 213|             44.91|                   2|              null|                 null|       213|    Bronx|Soundview/Castle ...|   Boro Zone|
+-------------------+----+------------------+--------------------+------------------+---------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [23]:
# Droppign LocationID and zone columns
df_result = df_result.drop('LocationID', 'zone')
df_result.show()

+-------------------+------------------+--------------------+------------------+---------------------+---------+------------+
|               hour|      green_amount|green_number_records|     yellow_amount|yellow_number_records|  Borough|service_zone|
+-------------------+------------------+--------------------+------------------+---------------------+---------+------------+
|2020-01-01 00:00:00|              15.8|                   1|              null|                 null| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00| 98.78999999999999|                   2|              null|                 null|   Queens|   Boro Zone|
|2020-01-01 00:00:00|             67.53|                   2|              null|                 null| Brooklyn|   Boro Zone|
|2020-01-01 00:00:00|              null|                null| 6256.430000000006|                  333|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|328.76000000000005|                  18| 561.5100000000001|                   34|Manhattan|   Boro Zone|
|2020-01-01 00:00:00|              null|                null| 6786.390000000004|                  139|   Queens|    Airports|
|2020-01-01 00:00:00|            111.68|                   2|             168.0|                    4|    Bronx|   Boro Zone|
|2020-01-01 00:00:00|              null|                null|  9252.30000000002|                  488|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|             55.95|                   2| 2142.059999999999|                  128|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              null|                null|2536.9599999999978|                  148|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              12.3|                   1|              null|                 null|   Queens|   Boro Zone|
|2020-01-01 00:00:00| 546.3600000000001|                  18|             36.11|                    1|   Queens|   Boro Zone|
|2020-01-01 00:00:00|              null|                null| 7790.170000000013|                  422|Manhattan| Yellow Zone|
|2020-01-01 00:00:00|              45.3|                   1|              null|                 null|   Queens|   Boro Zone|
|2020-01-01 00:00:00|              null|                null|           1041.52|                   15|      N/A|         N/A|
|2020-01-01 01:00:00|            246.86|                  16| 647.4300000000001|                   31| Brooklyn|   Boro Zone|
|2020-01-01 01:00:00|215.94999999999996|                  10|            994.61|                   46| Brooklyn|   Boro Zone|
|2020-01-01 01:00:00|              27.0|                   1|             24.21|                    1|    Bronx|   Boro Zone|
|2020-01-01 01:00:00|            181.03|                   7|            115.81|                    5| Brooklyn|   Boro Zone|
|2020-01-01 01:00:00|             44.91|                   2|              null|                 null|    Bronx|   Boro Zone|
+-------------------+------------------+--------------------+------------------+---------------------+---------+------------+
only showing top 20 rows

In [24]:
df_result \
    .write \
    .parquet('../datasets/tmp/revenue-zones')

25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 38.00% for 20 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 40.00% for 19 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 42.22% for 18 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 44.71% for 17 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 47.50% for 16 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 50.67% for 15 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 54.29% for 14 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 58.46% for 13 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 63.33% for 12 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 69.09% for 11 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 76.00% for 10 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 84.44% for 9 writers
25/04/02 21:01:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers