In [ ]:
import pandas as pd

from sqlalchemy import create_engine

In [127]:
# Load data
df = pd.read_csv("../datasets/yellow_tripdata_2021-01.csv", nrows=100)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    object
 2   tpep_dropoff_datetime  100 non-null    object
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: float64(9), int64(6), object(3)
memory usage: 14.2+ KB

In [129]:
# Convert datetime string to datetime object

df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [130]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    datetime64[ns]
 2   tpep_dropoff_datetime  100 non-null    datetime64[ns]
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: datetime64[ns](2), float64(9), int64(6), object(1)
memory usage: 14.2+ KB

In [131]:
# Establish connection to database and type of database
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine

Engine(postgresql://root:***@localhost:5432/ny_taxi)

In [132]:
# with engine.connect() as conn:
#     result = conn.execute(text("SELECT 1 as test1"))
#     print(list(result))

In [133]:
# DDL
# Fetch query to create the 
q1 = pd.io.sql.get_schema(df, name='yellow_taxi_data',con=engine)
print(q1)

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [151]:
# Load data in chunks due to enormous size and convert it into an iterator
df_iter = pd.read_csv("../datasets/yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)
df_iter

In [152]:
# Fetch each iterable from iterator
df = next(df_iter)
rows = df.shape[0]
df.shape

(100000, 18)

In [153]:
# Convert datetime string to datetime object
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

In [154]:
# print(len(df.head(0)))
# df.head(0)

In [155]:
# Create table without inserting anything yet [THIS RESETS THE TABLE WITH 0 ROWS]
df.head(0).to_sql(con=engine, name='yellow_taxi_data',if_exists='replace')

0

In [156]:
# Insert data into table
df.to_sql(con=engine, name='yellow_taxi_data',if_exists='append')

1000

In [157]:
from time import time
# Iterate over chunks and insert into database
try:
    while True:
        start = time()
        df = next(df_iter) # Fetch next chunk
        rows += df.shape[0] # Fetch rows inside current chunk

        # Convert datetime string to datetime object
        df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])
        df['tpep_dropoff_datetime'] = pd.to_datetime(df['tpep_dropoff_datetime'])

        # Insert df rows into database
        df.to_sql(con=engine, name='yellow_taxi_data',if_exists='append')

        stop = time()

        print(f"Inserted another chunk in {round(stop-start,3)}s")
except StopIteration:
    print(f"Successfully inserted {rows} rows!")

Inserted another chunk in 6.734s
Inserted another chunk in 6.091s
Inserted another chunk in 6.26s
Inserted another chunk in 7.038s
Inserted another chunk in 6.68s
Inserted another chunk in 6.945s
Inserted another chunk in 7.067s
Inserted another chunk in 6.685s
Inserted another chunk in 6.176s
Inserted another chunk in 6.147s
Inserted another chunk in 6.092s

C:\Users\hyder\AppData\Local\Temp\ipykernel_7628\1342402644.py:6: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter) # Fetch next chunk

Inserted another chunk in 6.394s
Inserted another chunk in 4.353s
Successfully inserted 1369765 rows!